/* Add here all your css styles (customizations) */
div.menu-container > ul.nav.navbar-nav > li a{
	font-size:13px !important;
	color:#737373 !important;}

div.menu-container > ul.nav.navbar-nav > li.active a, div.menu-container > ul.nav.navbar-nav > li a:hover {
	color:#cc2126 !important;
}

div.navbar-brand > a, div.navbar-brand > a > img.shrink-logo {
	max-width: 200px;
}

div.header-above {
	height:40px;
	width:100%;
	background-color: #ffffff;
	border-bottom:#ededed 1px solid;
	border-top: #e10707 3px solid;
}

div.header-above > div.container > a {
	font-size:12px;
	text-decoration: none;
	float:right;
	color: rgb(116,116,116);
	margin-top:10px;
	margin-right:20px;
}

div.first-image {
	background: url("../img/bg-tumor-monitoring.jpg") 50% 0px no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:417px;
}

div.first-image > div.container > h1 {
	font-weight: 200;
	color:#c8102e;
	float:left;
}

div.first-image > div.container > div {
	float:right;
}


div.first-image > div.container > div > h3 {
	font-weight:200;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	div.container {
		width:1000px;
	}
	div.first-image > div.container > h1 {
		margin-top:150px;
	}
	div.first-image > div.container > div {
		width:500px;
		margin-top:150px;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}