/* Add here all your css styles (customizations) */
div.menu-container > ul.nav.navbar-nav > li a{
	font-size:13px !important;
	color:#737373 !important;}

div.menu-container > ul.nav.navbar-nav > li.active a, div.menu-container > ul.nav.navbar-nav > li a:hover {
	color:#c8102e !important;
}

div.navbar-brand > a, div.navbar-brand > a > img.shrink-logo {
	max-width: 200px;
}

div.navbar.mega-menu {
	position:relative;
}

div.navbar.mega-menu > div.shadow-container {
	position:absolute;
	bottom:-10px;
	height:90px;
	width:100%;
}

div.header-above {
	height:40px;
	width:100%;
	background-color: #ffffff;
	border-bottom:#ededed 1px solid;
	border-top: #c8102e 3px solid;
}

div.header-above > div.container > a {
	font-size:12px;
	text-decoration: none;
	float:right;
	color: rgb(116,116,116);
	margin-top:10px;
	margin-right:20px;
}

div.first-image {
	background: url("../img/bg-tumor-monitoring.jpg") 50% 35px no-repeat;
	background-size: cover;
	height:500px;
}

div.first-image > div.container {
	position:relative !important;
}

div.first-image > div.container > div{
	margin-top:250px;
}

div.first-image > div.container h1 {
	font-weight: 200;
	color:#c8102e;
	width:300px;
}

div.first-image > div.container h3 {
	font-weight: 200;
	color:#000000;
}

div.second-image {
	background: url("../img/home-section-one.jpg") 50% -0px no-repeat;
	background-size: cover;
	min-height:417px;
}

div.second-image > div.container > div {
	float:right;
	max-width:500px;
	padding-top:65px;
	padding-bottom:65px;
}

div.second-image > div.container > div h1 {
	font-weight:200;
	color:#ffffff;
}

div.second-image > div.container > div p {
	font-weight:200;
	color:#ffffff;
	font-size:14px;
}

div.third-image {
	background: url("../img/bg-columns.jpg") 50% 0px no-repeat;
	background-size: cover;
	min-height:428px;
}

div.third-image .container > div.row {
	padding-top:90px;
	padding-bottom:90px;
}

div.third-image .container > div.row > div > p {
	color:#000000;
	font-size: 16px;
	font-weight: 200;
}

.headline {
	border-bottom: 1px solid #c8102e;
}

.headline h2 {
	border:none;
	color:#c8102e;
	font-weight: 200;
}

div.fourth-image {
	background: url("../img/bg-circulogene-advantage.jpg") 50% 0px no-repeat;
	background-size: cover;
	min-height:550px;
}
div.custom-accordion {
	padding-bottom: 50px;
}

div.custom-accordion div#accordion-1 div.panel-default {
	color:#ffffff !important;
	background-color:transparent;
	border:none;
	max-width:660px;
	font-weight: 200;
	box-shadow: none;
}

div.custom-accordion div#accordion-1 div.panel-default div.text-in {
	font-weight:200 !important;
	font-size: 14px;
	margin-left:45px;
	max-width:600px;
}

div.custom-accordion div#accordion-1 div.panel-default div.panel-heading{
	background-color:transparent;
	border-bottom:none !important;
}

div.custom-accordion div#accordion-1 div.panel-default div.panel-heading h4.panel-title a {
	color:#ffffff !important;
	background-color:transparent;
	font-weight: 200;
	font-size:16px;
	border-bottom:1px solid #ffffff;
}

div.custom-accordion div#accordion-1 div.panel-default div.panel-heading h4.panel-title a span {
	display:inline-block;
	background-color:#ffffff;
	color:#c8102e !important;
	font-weight: 900;
	margin-right:20px;
	margin-bottom:10px;
	width:20px;
	height:20px;
	text-align: center;
	line-height: 20px;
}

div.custom-accordion div#accordion-1 div.panel-default div.panel-heading h4.panel-title a:hover {
	text-decoration:none;
}

div.custom-accordion div#accordion-1 div.panel-default div.panel-heading h4.panel-title a:hover span {
	background-color:#c8102e;
	color:#ffffff !important;
}


div.custom-accordion h1 {
	color:#ffffff;
	font-weight:200;
	font-size:24px;
	padding-left:12px;
	margin-top:50px;
	margin-bottom:30px;
}

div.fifth-image {
	background-color:#f0f0f0;
	min-height:241px;
}

div.fifth-image .container {
	padding-top:55px;
	padding-bottom:55px;
}

div.fifth-image .container .report-buttons {
	min-height:70px;
	padding-top:15px;
}

div.fifth-image .container .report-buttons a {
	display:block;
	border-color:#c8102e;
	color:#c8102e;
	width:150px !important;
	margin:0 auto !important;
}

div.fifth-image .container .report-buttons a:hover {
	background-color:#c8102e;
	color:#ffffff;
}

div.fifth-image .container h1 {
	font-weight:200;
	color:rgb(115,115,115);
	text-align: center;
	width:100%;
}

div.sixth-image {
	min-height:437px;
	background-color: #ffffff;
	padding-top:66px;
}

div.sixth-image .container div p {
	font-weight: 200;
}

div.sixth-image .container div a {
	color:rgb(116,116,116);
}

div.sixth-image .container div a:hover {
	text-decoration: none;
	font-weight: 200;
}

.form-box {
	padding-top:15px;
	padding-left:0px;
}

.form-box div.col-lg-4 {
	padding-left:5px;
	padding-right:5px;
	padding-bottom:10px;
}

.form-box div.col-lg-4 input {
	font-weight: 200
}

.form-box div.col-lg-12{
	padding-left:5px;
	padding-right:5px;
}

.form-box div.col-lg-12 textarea {
	margin-top:10px;
	margin-left:0px;
	resize:none !important;
	border:1px solid #ccc;
	color:#555;
	font-size:14px;
	padding:6px 12px;
	width:100%;
	font-weight: 200;
	transition:box-shadow 0.3s;
}

.form-box div.col-lg-12 textarea:focus {
	outline: none;
  	-webkit-box-shadow: 1px 1px 2px 1px rgba(204,204,204,0.83) !important;
-moz-box-shadow: 1px 1px 2px 1px rgba(204,204,204,0.83) !important;
box-shadow: 1px 1px 2px 1px rgba(204,204,204,0.83) !important;
}


#topcontrol:hover {
	background: #c8102e !important;
}

.submit-button input {
	border-color:#c8102e;
	color:#c8102e !important;
	width:150px !important;
	float:right;
	width:100px !important;
	text-transform:uppercase;
	margin-bottom:15px;
	margin-top:10px;
}

.submit-button input:hover {
	background-color:#c8102e;
	color:#ffffff;
}

div.footer-v1 {
	min-height:85px;
}

div.copyright {
	background-color:#737373 !important;
	min-height:85px;
}

div.copyright div.container {
	padding-top:10px;
}

p.copyright-text {
	color:#bebebe !important;
}

div ul.footer-socials li a {
	color:#ffffff !important;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	div.second-image > div.container > div {
		margin-top:30px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	div.container {
		width:1000px;
	}
	div.first-image > div.container h1 {
		font-size:35px;
		line-height:40px;
	}
/* 	
	.effect5
	{
	  margin:0 auto;
	  width:330px;
	}
	.effect5:before, .effect5:after
	{
	  z-index: -1;
	  position: absolute;
	  content: "#";
	  bottom: 45px;
	  left: 360px;
	  width: 50%;
	  max-width:300px;
	  box-shadow: 0 35px 50px #777;
	  transform: rotate(5deg);
	  color:transparent;
	}
	.effect5:after
	{
	  transform: rotate(-5deg);
	  right: 360px;
	  left: auto;
	}
*/	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles
	.effect5
	{
	  margin:0 auto;
	  width:330px;
	}
	.effect5:before, .effect5:after
	{
	  z-index: -1;
	  position: absolute;
	  content: "#";
	  bottom: 45px;
	  left: 360px;
	  width: 50%;
	  max-width:300px;
	  box-shadow: 0 35px 50px #777;
	  transform: rotate(5deg);
	  color:transparent;
	}
	.effect5:after
	{
	  transform: rotate(-5deg);
	  right: 360px;
	  left: auto;
	}
*/
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}