/* Add here all your css styles (customizations) */
div.menu-container > ul.nav.navbar-nav > li a{
	font-size:13px !important;
	color:#737373 !important;}

div.menu-container > ul.nav.navbar-nav > li.active a, div.menu-container > ul.nav.navbar-nav > li a:hover {
	color:#cc2126 !important;
}

div.navbar-brand > a, div.navbar-brand > a > img.shrink-logo {
	max-width: 200px;
}

div.navbar.mega-menu {
	position:relative;
}

div.navbar.mega-menu > div.shadow-container {
	position:absolute;
	bottom:-10px;
	height:90px;
	width:100%;
}

div.header-above {
	height:40px;
	width:100%;
	background-color: #ffffff;
	border-bottom:#ededed 1px solid;
	border-top: #e10707 3px solid;
}

div.header-above > div.container > a {
	font-size:12px;
	text-decoration: none;
	float:right;
	color: rgb(116,116,116);
	margin-top:10px;
	margin-right:20px;
}

div.first-image {
	background: url("../img/bg-tumor-monitoring.jpg") 50% 35px no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:500px;
}

div.first-image > div.container {
	position:relative !important;
}

div.first-image > div.container > div{
	margin-top:250px;
}

div.first-image > div.container h1 {
	font-weight: 200;
	color:#c8102e;
	width:320px;
}

div.first-image > div.container h3 {
	font-weight: 200;
}

div.second-image {
	background: url("../img/home-section-one.jpg") 50% 0px no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:500px;
}

div.second-image > div.container > div {
	float:right;
	max-width:500px;
	margin-top:110px;
}

div.second-image > div.container > div h1 {
	font-weight:200;
	color:#ffffff;
}

div.second-image > div.container > div p {
	font-weight:200;
	color:#ffffff;
	font-size:14px;
}

div.third-image {
	background: url("../img/third_image.png") 50% 0px no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:500px;
}

div.third-image .container > div.row {
	margin-top:120px;
}

div.third-image .container > div.row > div > p {
	color:#000000;
	font-size: 16px;
}

.headline {
	border-bottom: 1px solid #c8102e;
}

.headline h2 {
	font-weight: 200;
	color:#c8102e;
	border:none;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	div.second-image > div.container > div {
		margin-top:90px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
	div.container {
		width:1000px;
	}
	div.first-image > div.container h1 {
		font-size:35px;
		line-height:40px;
	}
/* 	
	.effect5
	{
	  margin:0 auto;
	  width:330px;
	}
	.effect5:before, .effect5:after
	{
	  z-index: -1;
	  position: absolute;
	  content: "#";
	  bottom: 45px;
	  left: 360px;
	  width: 50%;
	  max-width:300px;
	  box-shadow: 0 35px 50px #777;
	  transform: rotate(5deg);
	  color:transparent;
	}
	.effect5:after
	{
	  transform: rotate(-5deg);
	  right: 360px;
	  left: auto;
	}
*/	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles
	.effect5
	{
	  margin:0 auto;
	  width:330px;
	}
	.effect5:before, .effect5:after
	{
	  z-index: -1;
	  position: absolute;
	  content: "#";
	  bottom: 45px;
	  left: 360px;
	  width: 50%;
	  max-width:300px;
	  box-shadow: 0 35px 50px #777;
	  transform: rotate(5deg);
	  color:transparent;
	}
	.effect5:after
	{
	  transform: rotate(-5deg);
	  right: 360px;
	  left: auto;
	}
*/
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}